
@{
    ViewBag.Title = "Create";
}

@{ 
    if (TempData["successmsg"] !=null)
    {
        <div class="alert alert-success">
            <p>@TempData["successmsg"]</p>
        </div>
    }
}

<h2>Create Employee</h2>
<form method="post" action=""@Url.Action("create","Employees")">
    <div class="form-group">
        <label>Employee Firstname</label>
        <input type="text" class="form-control" name="fname"/>
    </div>

    <div class="form-group">
        <label>Employee Lastname</label>
        <input type="text" class="form-control" name="lname" />
    </div>
    <div class="form-group">
        <label> Sex</label> &nbsp; &nbsp;
        <input type="radio"  name="sex" value="Male"/> Male &nbsp; &nbsp;<input type="radio" name="sex" value="Female" /> Female
    </div>
    <div class="form-group">
        <label>Age</label>
        <select class="form-control" name="age">
            
                <script>
                for (var i = 20; i <= 45; i++) {
                    document.write( '<option>'+i+'</option>')
                }

                </script>
            </select>
    </div>
    <div class="form-group">
        <label>Salary</label>
        <input type="text" class="form-control" name="salary"/>
    </div>
    <div class="form-group">
        <label>Address</label>
        <input type="text" class="form-control" name="address"/>
    </div>
    <div class="form-group">
       <button type="submit" class="btn btn-success">Submit</button>
    </div>

</form>

